<nav class="navbar">
  <div class="navbar-wrap">
    <a href="/" class="navbar-logo">Do You Know Ball API</a>
    <div class="navbar-buttons" id="navbarButtons">
      <a href="/register" class="btn btn-outline" id="registerBtn">Register</a>
      <a href="/login" class="btn btn-primary" id="loginBtn">Login</a>
      <a href="/api-keys" class="btn btn-primary" id="apiKeysBtn" style="display:none;">API Keys</a>
      <button class="btn btn-outline" id="logoutBtn" style="display:none;" onclick="logout()">Logout</button>
    </div>
  </div>
</nav>

<style rel="stylesheet" href="/static/style.css"></style>
<script src="/static/js/navbar.js"></script>